/* GAME STYLES */
body
{
	font-family: 'Arial, sans-serif';
}

#board-game
{
	position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell
{
	width: 100px;
	height: 100px;
	border: 1px solid grey;
	background-color: white;
}

.bomb
{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	background-color: red;
	border-radius: 50%;
}

.cell, .bomb
{
	display: flex;
    align-items: center;
    justify-content: space-around
}

.cell .number
{
	font-size: 50px;
	font-weight: bold;
}

.number-1
{
	color: blue;
}

.number-2
{
	color: green;
}

.number-3
{
	color: orange;
}

.number-4
{
	color: brown;
}

.number-5
{
	color: darkgrey;
}